<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="one.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="flex-container">
        <div class="flex-item">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit temporibus obcaecati perferendis? Iste ducimus incidunt debitis officia aliquam consectetur. Dignissimos fugit accusamus culpa, dolor at velit voluptatum a? Necessitatibus, magnam!</p>
        </div>
        <div class="flex-item">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime itaque necessitatibus hic aut! Porro assumenda commodi reiciendis ipsa modi, odio, dolores ex, quasi sapiente dolorem quo possimus aperiam eos? Nisi.</p>
        </div>
        <div class="flex-item">
            <img src="https://images.pexels.com/photos/14771128/pexels-photo-14771128.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="building.jpg">
        </div>
    </div>
</body>
</html>